body {
    background-image: url("img/shop_background.jpg");
    color: white;
}

h1 {
    text-align: center;
    background-color: wheat;
}

.middle {
    background-color: brown;
    height: 750px;
}

.middle, h1 {
    margin: 0 auto;
    width: 800px;
}

.switch {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#inventory {
    display: none;
}

.player_info {
    display: flex;
}

.player_info > p {
    margin-right: 10px;
}

.categories {
    display: flex;
    justify-content: space-evenly;
}

.categories > h2:hover {
    color: royalblue;
}
